@inject LoadingOverlayViewModel _vm

@using System.ComponentModel
@implements IDisposable

<style>
    .overlay-img {
        width: 100%;
        max-width: 200px;
        height: auto
    }
</style>

<MudOverlay Visible="_vm.IsBusy" DarkBackground="true" ZIndex="9999">
    @* <MudProgressCircular Color="Color.Warning" Indeterminate="true" /> *@
    <div class="d-flex flex-column align-center">
        <img class="mb-5 overlay-img" src="images/illustrations/undraw_loading_re_5axr.svg" />
        <MudText Typo="Typo.body2">Loading...</MudText>
    </div>
</MudOverlay>

@code
{
    protected override void OnInitialized()
    {
        _vm.PropertyChanged += OnPropertyChanged;
    }

    private void OnPropertyChanged(object? sender, PropertyChangedEventArgs e)
    {
        StateHasChanged();
    }

    public void Dispose()
    {
        _vm.PropertyChanged -= OnPropertyChanged;
    }
}
